section
  header
    h2#Buttons Buttons
  .flex-column.flex-column--start
    = component_button text: "Default", type: :default, html: { class: "margin-bottom--s" }
    = component_button text: "Primary", type: :primary, html: { class: "margin-bottom--s" }
    = component_button text: "Error", type: :error, html: { class: "margin-bottom--s" }
    = component_button text: "Default Ghost", type: :default, ghost: true, html: { class: "margin-bottom--s" }
    = component_button text: "Primary Ghost", type: :primary, ghost: true, html: { class: "margin-bottom--s" }
    = component_button text: "Error Ghost", type: :error, ghost: true, html: { class: "margin-bottom--s" }
    = component_button text: "Default Block", type: :default, block: true, html: { class: "margin-bottom--s" }
    = component_button text: "Default Ghost Block", type: :default, ghost: true, block: true, html: { class: "margin-bottom--l" }
  header
    h2#Buttons Button group
  = component :button, :group, nil do
    = component_button text: "Left", type: :default, ghost: true
    = component_button text: "Middle", type: :default, ghost: true
    = component_button text: "Right", type: :default, ghost: true
