<section>
  <header><h2 id="Navigation">Navigation</h2></header>
  <%= component :navigation, :main_navigation, link: "/styleguide", title: "Logo" do 
    [
      component(:navigation, :navigation_list_item, link: "#", text: "Link 1"),
      component(:navigation, :navigation_list_item, link: "#", text: "Active Link 2", active: true),
      component(:navigation, :navigation_list_item, link: "#", text: "Link 3")
    ].join("")
  end %>
</section>
